{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<main>
    
        <div class="container text-center p-5 bg-light border border-primary">
            <h1 class="text-primary">APPLICATION DE GESTION LOCATION VOITURES</h1>
        </div>
        <div>
            <img src="images/why.png" style="width:1200px" class="p-5" alt="">
        </div>

</main>
{% endblock %}
