{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<main style="width:60%;margin: auto; " class="container p-3">
    
    <div class="header p-5 container">
        <div class="left">
            <h1 style="color: #4070f4;" class="">Modifier Voiture</h1>
        </div>
    
        <div class="container mt-5 " >
            {{ form(form) }}
        </div>
    </div>
    

</main>
{% endblock %}
